<div class="field">
	<%= f.label :title %><br /">
	<%= f.text_field :title %>
</div>
<div>
	<%= f.label :author %><br />
	<%= f.text_field :author %>
</div>
<div>
	<%= f.label :call_number %><br />
	<%= f.text_field :call_number %>
</div>
<div>
	<%= f.label :publication_year %><br />
	<%= f.text_field :publication_year %>
</div>